* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eae8e8;
}

/* Estilizando fontes */
h3 {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #524c73;
}

h4,
h5,
p {
  font-family: "Merriweather Sans", sans-serif;
  color: #837e9f;
}

h4 {
  font-weight: 700;
  font-size: 14px;
}

h5 {
  font-weight: 300;
  font-size: 12px;
}

p {
  font-weight: 400;
  font-size: 12px;
}

#profile {
  text-align: center;
  margin-top: 40px;
}

#profile img {
  width: 113px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  transform: rotate(-37.64deg);
}

#name {
  position: relative;
  margin-top: 14px;
}

#name h1 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #414141;
  opacity: 50%;
}

#name h2 {
  letter-spacing: 13px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-size: 25px;
}

main {
  display: flex;
  width: 100%;
  max-width: 840px;
  margin: 0 auto;
}

#container-left {
  width: 30%;
}

#links {
  display: flex;
  flex-direction: column;
  gap: 19px;
  padding: 30px 13px;
  background-color: #d9d9d9;
  border-radius: 20px;
  margin-top: 35px;
}

#links a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #524c73;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  gap: 20px;
}

#experiences {
  background-color: #d9d9d9;
  border-radius: 20px;
  margin-top: 16px;
  padding: 20px 30px;
}

ul li {
  color: #837e9f;
  margin-top: 10px;
}

#container-right {
  width: 70%;
}
